<div class="navigation border--bottom">
  <div class="container">
    <div class="col-md-6">
      <div class="padding-right-sm border--right display--inline-block vertical-align--top">
        <h1 class="margin-0 h3 uppercase">Photo Wall</h1>
      </div>
      <div class="display--inline-block vertical-align--webkit-middle margin-left-xxs margin-right-sm">
        {{search-component class="display--inline-block full-width"}}
      </div>
    </div>
    <div class="col-md-6 text-right">
      <div class="position--relative display--inline-block">
        <a href="#" class="vertical-align--webkit-middle">Recommended Sort <i class="fa fa-sort-desc vertical-align--text-top" aria-hidden="true"></i></a>
        <select name="sort" id="sort-wall" class="invisible-select">
          <option value="default">Default</option>
          <option value="default">Alphabetical Ascending</option>
          <option value="default">Alphabetical Decending</option>
          <option value="default">Youngest to Oldest</option>
          <option value="default">Oldest to Youngest</option>
        </select>
      </div>
    </div>
  </div>
</div>
