// ==========
// Variables
// ==========
$orange: #FFB03B;
$green: #468966;
$red: #B64926;
$black: #333;

// ==========
// Typography
// ==========

$font-nunito: 'Nunito', sans-serif;

a {
  color: $green;
  @include transition(color, 0.2s, linear);
  &:hover, &:focus {
    text-decoration: none;
    color: darken($green, 20%);
  }
}

.color-green {
  color: $green;
}

.color-orange {
  color: $orange;
}

* {
  font-family: $font-nunito;
}

// ==========
// Backgrounds
// ==========

.background--gray {
  background-color: #ddd;
}

// ==========
// Buttons
// ==========
.btn-green {
  @include transition(background, 0.1s, linear);
  background: $green;
  color: #FFF;
  &:hover {
    background: $black;
    color: #FFF;
  }
}
// ==========
// Page Styles
// ==========

.p-no-margin {
  p {
    margin: 0;
  }
}
.border--radius {
  border-radius: 5px;
}

.navigation {
  padding: 10px 0px;
}

.invisible-select {
  color: $black;
  cursor: pointer;
  background: none;
  border: none;
  outline: 0;
  -webkit-appearance: none;
}

.short-input {
  max-width: 50px;
}
