// ==========
// Typography
// ==========
$font-nunito: 'Nunito', sans-serif;

* {
  font-family: $font-nunito;
}

// ==========
// Page Styles
// ==========

.p-no-margin {
  p {
    margin: 0;
  }
}
.border--radius {
  border-radius: 5px;
}

.navigation {
  padding: 10px 0px;
}

.invisible-select {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  min-width: 100%;
  line-height: 100%;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-appearance: none;
}
